<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Facts about Chuck</title>
    <link rel="stylesheet" href="/css/homestyle.css">
</head>

<body>
<header>
    <h1>Facts about</h1>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>

        <form th:action="@{/addNewJokeForm}">
            <div>
                <button type="submit" value="Add new joke">Add new joke</button>
            </div>
        </form>
    </div>
</header>

<main>
    <table>
        <form th:action="@{/alljokes(sort=${action})}">
            <thead>
                <th>
                    <button type="submit" th:name="sort" th:value="alphabetically">Chuck Norris-Joke</button>
                </th>
                <th>
                    <button type="submit" th:name="sort" th:value="date"> Date</button>
                </th>
                <th>
                    <label> Remove</label>
                </th>
            </thead>
        </form>
        <tbody>
        <tr th:if="${jokes.empty}">
            <td colspan="2"> There are NO Jokes about Chuck Norris !</td>
        </tr>
        <tr th:each="joke : ${jokes}">
            <td><span th:text="${joke.jokeText}"> Joke </span></td>
            <td><span th:text="${joke.creationDate}"> Date </span></td>
            <td><a th:href="@{/delete(id=${joke.id})}">Remove</a></td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
</footer>
<script src="skript.js"></script>
</body>
</html>